# Ejercitario

Para estos ejercicios, usaremos el conjunto de datos 'Titanic' que se puede obtener fácilmente desde la librería seaborn en Python.

1. Describe el dataframe, sus columnas y el tipo de dato de cada una. (usar método info() y describe()
2. Crear una tabla pivote para encontrar la suma de las tarifas (fare) por clase (class).
3. Crear una tabla pivote para encontrar el promedio de las tarifas (fare) por clase (class).
4. Crear una tabla pivote para encontrar la suma y el promedio de las tarifas (fare) por clase (class).
5. Crear categorías de tarifas (fare) usando qcut y crear una tabla pivote basada en esas categorías, mostrando la cantidad de pasajeros para esa categoría.
6. Dividir la columna de nombres (name) en título y apellido.
7. Filtrar filas donde los nombres (name) contienen "Mrs".
8. Para este ejercicio crearemos una columna ficticia de fechas (fecha de embarque). Usar pd_date_range para crear columna ficticia para cada fila desde '1912-04-10' (es decir, '1912-04-10' para la fila 1, '1912-04-11' para la fila 2, etc).
9.  Cambiar el formato de una columna de fechas a al formato día, mes, año.
10. Agrupar por fecha de embarque y calcular el número de sobrevivientes (survived) por mes, su promedio de edad y cantidad de hombres y mujeres.

In [69]:
import pandas as pd
import numpy as np
import seaborn as sns
import random

# Cargar datos de Titanic desde seaborn
df = sns.load_dataset('titanic')
print(df.shape)

df

(891, 15)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [70]:
# Describe el dataframe, sus columnas y el tipo de dato de cada una. (usar método info() y describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [71]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [72]:
# Crear una tabla pivote para encontrar la suma de las tarifas (fare) por clase (class).
sum_tarifa_por_clase = pd.pivot_table(df, index="class", values="fare", aggfunc="sum")
print("Suma de las tarifas (fare) por clase (class)", sum_tarifa_por_clase, sep="\n")

Suma de las tarifas (fare) por clase (class)
              fare
class
First   18177.4125
Second   3801.8417
Third    6714.6951

In [73]:
# Crear una tabla pivote para encontrar el promedio de las tarifas (fare) por clase (class).
avg_tarifa_por_clase = pd.pivot_table(df, index="class", values="fare", aggfunc="mean")
print("Promedio de las tarifas (fare) por clase (class)", avg_tarifa_por_clase, sep="\n")

Promedio de las tarifas (fare) por clase (class)
             fare
class
First   84.154687
Second  20.662183
Third   13.675550

In [74]:
# Crear una tabla pivote para encontrar la suma y el promedio de las tarifas (fare)
# por clase (class).
agg_tarifa_por_clase = pd.pivot_table(df, index="class", values="fare", aggfunc=["sum", "mean"])
print("Suma y promedio de las tarifas (fare) por clase (class)", agg_tarifa_por_clase, sep="\n")

Suma y promedio de las tarifas (fare) por clase (class)
               sum       mean
              fare       fare
class
First   18177.4125  84.154687
Second   3801.8417  20.662183
Third    6714.6951  13.675550

In [75]:
# Crear categorías de tarifas (fare) usando qcut
df["categorias_tarifas"] = pd.cut(df["fare"], 4, labels=["bajo", "medio-bajo", "medio-alto", "alto"])

# crear una tabla pivote basada en esas categorías, mostrando la cantidad
# de pasajeros para esa categoría.
categorias_por_tarifa = pd.pivot_table(df, index="categorias_tarifas", values="fare", aggfunc="count")
print("Cantidad de pasajeros por categoría de tarifas", categorias_por_tarifa, sep="\n")

Cantidad de pasajeros por categoría de tarifas
                    fare
categorias_tarifas
bajo                 853
medio-bajo            29
medio-alto             6
alto                   3

In [76]:
### Ejercicio 6 y 7
first_names=('Horacio', 'Margarita', 'Pedro','Juan','Andrea','Jose')
last_names=('Martinez','Perez','Peña', 'Soto', 'Ruiz', 'Ferreira')

group = []
for i in range(891):
    full_name=random.choice(first_names)+" "+random.choice(last_names)
    group.append(full_name)

# Antes de anexar al dataframe, deben modificar la lista para que contenga Mrs
# para los nombres femeninos y Mr para los nombres masculinos. La lista final solo
# debe contener el título y el apellido del pasajero. Esta lista pasará a ser
# la columna name del dataframe y se harán sobre esta columna, los ejercicios 5 y 6
def final_name(x):
  first_name = x.split()[0]
  last_name = x.split()[1]

  if first_name in ["Margarita", "Andrea"]:
    title = "Mrs"
  else:
    title = "Mr"

  return title + " " + last_name

group = list(map(final_name, group))

df["name"] = group

df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,categorias_tarifas,name
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,bajo,Mr Soto
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,bajo,Mr Perez
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,bajo,Mr Ruiz
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,bajo,Mrs Perez
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,bajo,Mr Peña

In [77]:
# Dividir la columna de nombres (name) en título y apellido.
df[["titulo", "apellido"]] = df["name"].str.split(expand=True)

print(df[["name", "titulo", "apellido"]].head())

        name titulo apellido
0    Mr Soto     Mr     Soto
1   Mr Perez     Mr    Perez
2    Mr Ruiz     Mr     Ruiz
3  Mrs Perez    Mrs    Perez
4    Mr Peña     Mr     Peña

In [78]:
# Filtrar filas donde los nombres (name) contienen "Mrs".
print("Filas que contienen Mrs", df[df["name"].str.contains("Mrs", case=False)], sep="\n")

Filas que contienen Mrs
     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
3           1       1  female  35.0      1      0  53.1000        S  First
5           0       3    male   NaN      0      0   8.4583        Q  Third
6           0       1    male  54.0      0      0  51.8625        S  First
8           1       3  female  27.0      0      2  11.1333        S  Third
11          1       1  female  58.0      0      0  26.5500        S  First
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
868         0       3    male   NaN      0      0   9.5000        S  Third
870         0       3    male  26.0      0      0   7.8958        S  Third
875         1       3  female  15.0      0      0   7.2250        C  Third
882         0       3  female  22.0      0      0  10.5167        S  Third
885         0       3  female  39.0      0      5  29.1250        Q  Third

       who  adult_male deck  embark_town alive  alone categorias_tarifas  \
3    woman       False    C  Southampton   yes  False               bajo
5      man        True  NaN   Queenstown    no   True               bajo
6      man        True    E  Southampton    no   True               bajo
8    woman       False  NaN  Southampton   yes  False               bajo
11   woman       False    C  Southampton   yes   True               bajo
..     ...         ...  ...          ...   ...    ...                ...
868    man        True  NaN  Southampton    no   True               bajo
870    man        True  NaN  Southampton    no   True               bajo
875  child       False  NaN    Cherbourg   yes   True               bajo
882  woman       False  NaN  Southampton    no   True               bajo
885  woman       False  NaN   Queenstown    no  False               bajo

             name titulo  apellido
3       Mrs Perez    Mrs     Perez
5        Mrs Ruiz    Mrs      Ruiz
6        Mrs Soto    Mrs      Soto
8       Mrs Perez    Mrs     Perez
11       Mrs Soto    Mrs      Soto
..            ...    ...       ...
868      Mrs Soto    Mrs      Soto
870  Mrs Ferreira    Mrs  Ferreira
875  Mrs Martinez    Mrs  Martinez
882      Mrs Ruiz    Mrs      Ruiz
885  Mrs Ferreira    Mrs  Ferreira

[304 rows x 19 columns]

In [79]:
# Para este ejercicio crearemos una columna ficticia de fechas (fecha de embarque).
# Usar pd_date_range para crear columna ficticia para cada fila desde '1912-04-10'
# (es decir, '1912-04-10' para la fila 1, '1912-04-11' para la fila 2, etc).
date_range = pd.date_range(start="1912-04-10", periods=len(df), freq='D')
df["fecha_embarque"] = date_range

df["fecha_embarque"].head()

0   1912-04-10
1   1912-04-11
2   1912-04-12
3   1912-04-13
4   1912-04-14
Name: fecha_embarque, dtype: datetime64[ns]

In [80]:
# Cambiar el formato de una columna de fechas a al formato día, mes, año.
print(df["fecha_embarque"].dt.strftime("%d-%m-%Y"))

0      10-04-1912
1      11-04-1912
2      12-04-1912
3      13-04-1912
4      14-04-1912
          ...
886    13-09-1914
887    14-09-1914
888    15-09-1914
889    16-09-1914
890    17-09-1914
Name: fecha_embarque, Length: 891, dtype: object

In [88]:
# Agrupar por fecha de embarque y calcular el número de sobrevivientes (survived)
# por mes, su promedio de edad y cantidad de hombres y mujeres.
df["mes"] = df["fecha_embarque"].dt.month
df[df.survived == 1].groupby("mes").agg(
    num_survivors=("survived", "sum"),
    avg_age=("age", "mean"),
    num_males=("sex", lambda x: (x == "male").sum()),
    num_females=("sex", lambda x: (x == "female").sum())
)

     num_survivors    avg_age  num_males  num_females
mes
1               25  32.715909         10           15
2               25  26.311579          7           18
3               29  27.739130          9           20
4               33  28.958333          6           27
5               36  26.311935         11           25
6               36  24.257812         13           23
7               32  29.253077         13           19
8               28  28.860000          7           21
9               26  27.583333          6           20
10              24  26.523810         10           14
11              26  34.125000         10           16
12              22  29.210526          7           15